<!--------Navbar------->

<div class="overlay">

<nav class="navbar navbar-expand bg-transparent " style="  padding-right: 0">
  
  <div class="container-fluid" >
    
    <ul class="navbar-nav"  >
      

      <li >
          <a routerLink="project" class="nav-link" 
          routerLinkActive="active">
          תוכנית
        </a>
      </li>
      <li  > 
        <a routerLink="info" class="nav-link" 
        routerLinkActive="active">
        אודות
      </a>
    </li>
    <li  >
      <a routerLink="contact" class="nav-link"  routerLinkActive="active" > צור קשר</a>
  </li>
  <li >
    <a routerLink="/home" class="nav-link" routerLinkActive="active">
    בית
  </a>
</li>

   

    </ul>
    <a routerLink='home' class="nav-link" routerLinkActive="active" ><span><img style="float: right;  width: 60%;"  src="../assets/image/logo.png"></span></a>
  </div>
</nav>

</div>

