<!--------Navbar------->


<body>
<nav class="navbar navbar-expand-sm bg-light " >
  <div class="container-fluid">
    <ul class="navbar-nav" style="width: 100%">
      <li class="nav-item">
          <a routerLink="project" class="nav-link" 
          routerLinkActive="active">
          תוכנית
        </a>
      </li>
      <li class="nav-item" > 
        <a routerLink="info" class="nav-link" 
        routerLinkActive="active">
        אודות
      </a>
    </li>
    <li class="nav-item" >
      <a routerLink="contact" class="nav-link"  routerLinkActive="active" > צור קשר</a>
  </li>
  <li class="nav-item">
    <a routerLink="home" class="nav-link" routerLinkActive="active">
    בית
  </a>
</li>
  <li class="nav-item" >
    <a routerLink='home' class="nav-link" routerLinkActive="active" ><span><img  src="../assets/image/logo.png" width="60%"></span></a>
  </li>
    </ul>
  </div>
</nav>
</body>
