

 
<img class= "image" src="../assets/image/image.png" >

<div class="Rectangle" >
    <div class="row col-12">
  <div class=" col-3">
     <div class="label" >24 משתתפים </div>
     <div class="Line" > </div>
  </div> 
   <div class=" col-3">
      <div class="label" >  4 צוותים</div>
      <div class="Line" ></div>
  </div>  
  <div class="col-3" >
      <div class="label" >10 מרצים</div>
      <div class="Line" ></div>
  </div> 
  <div class="col-3" >
    <div class="label" > 5 מפגשים</div>
  </div>
</div> 
</div>
